@{
    ViewData["Title"] = "Doctor";
}
<h1>Doctor</h1>
@if (ViewBag.fever!=null){
    <h4 class="fever">@ViewBag.fever</h4>
    }
<form asp-action="Index" method="post">
    <label>What Temperature scale do you want to use?</label>
    <br />
    <input type="radio" name="tempScale" id="TempScale" value="Celsius" checked/>
    <label>Celsius</label>
    <input type="radio" name="tempScale" id="tempScale" value="Farenheit" />
    <label>Farenheit</label>
    <br />
    <label>Please input your temperature to check if you got fever. When done press enter! </label>
    <input type="number" name="temp" id="temp" requiredValue/>
</form>
